@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Medium.eot');
    src:
        url('../assets/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-Medium.woff') format('woff'),
        url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Bold.eot');
    src:
        url('../assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-Bold.woff') format('woff'),
        url('../assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}
